@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  height: 100%;
}

/* size */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ccc;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(156 163 175);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(92, 110, 136);
}
